{% extends "medapp/base.html" %}
{% load static %}


{% block content %}

<div class="container-fluid">  
  <h2 class="pb-5 pt-5">Lista dodanych produktów</h2>
    <div class="album py-1 ">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-1">
        {% for product in products %}
        <div class="col pb-4">
            <div class="card shadow-sm " style="width: 17rem; margin: auto;">
              <a href="{{ product.get_absolute_url }}">
                <img class="img-fluid" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
              </a>
              <div class="card-body text-center">
                <h5 class="card-title"><a class="text-muted" href="{{ product.get_absolute_url }}">{{ product.name }}</a></h5>
                <h6>{{ product.price }}zł/dzień</h6>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group mx-auto">
                    <button type="button" class="btn btn-sm btn-outline-secondary ">Zamów teraz</button>
                  </div>
                </div>
              </div>
            </div>  
        </div>
        {% endfor %}
      </div>          
    </div>  
</div>      
{% endblock %}