{% extends "medapp/base.html" %}

{% block title %}Zerowanie hasła{% endblock %}

{% block content %}
<div class="container-fluid pt-5" id="logout__screen">
    <div class="starter-template pt-5"> 
        <h1 class="pt-5">Zerowanie hasła</h1>
        <p>Wysłaliśmy Ci wiadomość e-mail wraz z instrukją pozwalająca na ustawienie nowego hasła</p>
        <p>Jeśli nie otrzymałeś wiadomości, to upewnij się że w formularzu wprowadziałeś poprawny adres email</p>
    </div>
</div>
{% endblock content %}