{% extends "medapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if validlink %}
        <form class="form-signin pt-5" action="." method="post">
            <div class="text-center pt-5 mb-4">
                <h1>Zerowanie hasła?</h1>
                <p>Dwukrotnie podaj nowe hasło</p>
            </div>
            {% csrf_token %}
            {{ form|crispy }}
            <button  class="btn btn-lg btn-primary btn-block" type="submit">Zmień hasło</button>
        </form>
    {% else %}
    <div class="container-fluid pt-5" id="logout__screen">
        <div class="starter-template pt-5"> 
            <h1 class="pt-5">Łącze pozwalająca na wyzerowania hasła nieprawidłowe. Rozpocznij procedurę ponownie.</h1>
        </div>
    </div>
    {% endif %}
{% endblock content %}